<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome!</P></title>
</head>
<body>
    <div>
        <a href="login"class="btnop">Login</a>
        <a href="register" class="btnop">Register</a>
    </div>
</body>
</html>

<style>
    .btnop {
        background: #298371;
        color: white;
        width: 250px;
        height: 50px;
        margin-right: 10px;
        padding: 0;
        display: inline-block;
        line-height: 50px;
        text-align: center;
        font-size: 2em;
        border-radius: 10px;
        border-width: 0px;
        text-decoration: none;
    }
  </style>