<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MusicMarkt</title>

    <style>
        .top-padding{
            padding-top: 250px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MusicMarkt</a>
    </nav>
    {% if products %}
    {% if len(products) > 0 %}
        <table border="2px">
            <thead>
                <tr>
                    <th>name</th>
                    <th>price</th>
                    <th>state</th>
                    <th></th> <!-- buy button -->
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ record[1] }}</td>
                        <td>{{ record[3] }}</td>
                        <td>{{ record[2] }}</td>
                        <td> <a href="/{{ product_path }}buy/?pid={{ record[0] }}">buy</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> This page is empty </p>
    {% endif %}
    {% else %}
        <p> Error: obtaining information from database! </p>
    {% endif %}

    <h1> YOU ARE LOGGED IN</h1>
</body>
