<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MusicMarkt</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MusicMarkt</a>
        <div>
            <a class="btn btn-outline-secondary" href="/artists" class="btnop">Artists</a>
        </div>
    </nav>

    <div class="container">
        <br>
        <h1>Products</h1>
        <br><br>
        {% if products %}
        {% if products|length > 1 %}
            <table class="table"> 
                <thead class="thead-dark">
                    <tr>
                        <th>name</th>
                        <th>price</th>
                        <th>state</th>
                        <th></th> <!-- buy button -->
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product[1] }}</td>
                            <td>{{ product[3] }}</td>
                            <td>{{ product[2] }}</td>
                            <td> <a class="btn btn-outline-dark" href="/products/buy/?pid={{ product[0] }}">buy</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p> This page is empty </p>
        {% endif %}
        {% else %}
            <p> Error: obtaining information from database! </p>
        {% endif %}
    </div>
</body>
